
/* Prototype style sheet */


#buttons {
    height: 3;
    width: 97%;
    Button{
        width: 50%
    }

}

SelectionPanel {
    dock: left;
    align-vertical: bottom;
    width: 30%;
    height: 100%;
}