/* 4 columns 10 rows */
Screen {
    layout: grid;
    grid-size: 4 10;
    grid-gutter: 1;
}

#configs {
    row-span: 10;
    column-span: 1;
    height: 100%;
}

#versions {
    row-span: 2;
    column-span: 3;
    height: 100%;
    overflow-x: auto;
}

#display {
    row-span: 8;
    column-span: 3;
    height: 100%;
    align-horizontal: center;
}

#conftree {
    height:90%;
}

#verticalconf {
    height: 20;
}

.container{
    border: wide red;
}

.vbuttons {
    align-vertical: middle;
    width: 5%;
    margin: 1;
}


